 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.main::before, .main::after {
    content: '';
    background-image: url('/assets/img/Icons/colored/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    transform: rotate(180deg);
}



@media screen and (min-width: 768px){
    .main {
        max-width: 1024px;
        margin: 1rem;
    }

    .main::after, .main::before {
        width: 100vw;
    }
}

@media screen and (min-width: 1200px){
    .main {
        max-width: 30%;
        margin: 2rem auto;
    }

    .main::after, .main::before {
        width: 100vw;
    }
}